<!DOCTYPE html>
<html lang="ja">

	<head>	
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>todoList</title>
		<!-- Bootstrap -->
		<link href="css/bootstrap.min.css" rel="stylesheet" media="screen">
	</head>
	
	<style>
		.completed{
			text-decoration: line-through;
			color: gray;
		}
	</style>
	<body>
	
	<div class="container" style="padding:20px 0;">
		<h1>Tasks</h1>
		
		<form id="addTask" class="form-inline">
			<input type="text" id="title" class="form-control">
			<input type="submit" value="add" class="btn btn-primary">
			<spna id="error"></spna>
		</form>
		
		<div id="tasks">
		</div>
		
		<p>残りのタスク：<span id="count"></span></p>
		
	</div>
		
		<script type="text/template" id="task-template">
			<input type="checkbox" class="toggle" <%= completed ? 'checked':' '%>>
			
			<span class="<%= completed ? 'completed' : ''%>">
				<%- title %>
			</spna>
			
			<span class="delete">[✗]</span>
		</script>
		
		<script src="js/underscore.js"></script>
		<script src="js/jquery.js"></script>
		<script src="js/backbone.js"></script>
		<script src="js/app.js"></script>
		 <script src="http://code.jquery.com/jquery.js"></script>
		 <script src="js/bootstrap.min.js"></script>
		
		
	
	</body>
</html>